<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
    1. 백엔드에서 넘어온 값을 html안에 표시
    - {{변수}} -> 넘어온 변수를 사용하겠다
    - 백앤드에서 render을 실행할 때 값을 넘겨준다
    -->

    <h1>ㅁㅇ</h1>
    <h2>{{name}}님 황영합인다</h2>

    <!-- 
    html안에 직접 변수를 생성 
    주의점 : 변수 생성시 set적기 , 주석에는 코드 작성 X 넌잭스는 충돌이 일어남
    -->
    

     {% set age = 20 %}
     <p> {{age}}살 입니다</p>

     <!-- 
     3. 조건문 문법
     if -> if
     else if ->elif
     else -> else
     ★endif 조건문이 종료되었음을 알려줌
      -->

    {% set time = "오전" %}
    {% if time == "오전" %}
    <p>오전은 노드수업입니다</p>
    {% elif time =="오후" %}
    <p>오후는 머신러닝입니다</p>
    {% else %}
    <p>집에 가자!</p>
    {% endif %}

    <!-- 
          반복문 파이썬 반복문
          for i in arr
          endfor-> for문이 종료되엇음을 선포
    -->
          {% set arr = [1,2,3,4,5] %}
     <table border="1px solid black">
        <tr>
            <!-- 반복문을 통한 td태그 생성 -->
            {% for i in arr%}
            <td border="1px solid black" >{{i}}</td>
            {% endfor %}
        </tr>




     </table>     
















</body>
</html>